.one-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 21px;
    font-family: 'Quicksand', sans-serif;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 21px;
    font-family: 'Quicksand', sans-serif;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 21px;
    font-family: 'Quicksand', sans-serif;
}